.banner__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $firstColor;
    color: $backgroundColor;
    border-radius: 12px;
    height: rem(350px);
    text-align: center;
    padding: 10px 0;
}

.banner__title{
    font-size: rem(30px);
}

.banner__text{
    margin-bottom: rem(25px);
}

