.bottom__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

    &:before {
        position: absolute;
        content: url('../../images/decor/triange.png');
        top: -100px;
        left: 0;
    }
}

.bottom__description {
    font-weight: bold;
    margin-bottom: 25px;
}