.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    border-bottom: 1px solid $fontColor;
    font-size: rem(22px);
}

.language {

    display: flex;
    align-items: center;
    justify-content: center;
}

.lng--ua {
    margin-right: 10px;
    border-right: 1px solid #000;
    padding-right: 10px;
}