.section {
    padding: rem(110px) 0;
}

.section__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro{
    padding: 50px 0;
}

.advantages{
    padding: 0 0 110px;
}
.about {
    background: $backgroundColor;
}

.study {
    background: $backgroundColorDark;
}

.features {
    background: $backgroundColor;
}

.cooperation {
    background: $backgroundColorDark;

}

.bottom {
    border-bottom: 1px solid $fontColor;

}