.section {
    padding: 70px 0;
}

.section__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.advantages{
    padding: 0;
}
.about {
    background: $backgroundColor;
}

.study {
    background: $backgroundColorDark;
}

.features {
    background: $backgroundColor;
}

.cooperation {
    background: $backgroundColorDark;

}

.bottom {
    border-bottom: 1px solid $fontColor;

}