.services__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.service {
    display: flex;
    margin-bottom: rem(25px);


}

.service__content {
    display: flex;
    flex-direction: column;
}

.service__number {
    font-size: rem(36px);
    font-weight: bold;
    margin-right: rem(25px);
    line-height: rem(36px);
}

.service__content-title {
    font-weight: bold;
    font-size: rem(28px);

}